@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?wrhyuk");
  src: url("fonts/icomoon.eot?wrhyuk#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?wrhyuk") format("truetype"),
    url("fonts/icomoon.woff?wrhyuk") format("woff"),
    url("fonts/icomoon.svg?wrhyuk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil {
  &:before {
    content: "\e905";
    color: #b2b2b2;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 8px;
  }
  &:hover:before {
    color: #3498db;
  }
}

.icon-bin {
  &:before {
    content: "\e9ac";
    color: #b2b2b2;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 8px;
  }
  &:hover:before {
    color: #c0392b;
  }
}
.icon-bin2 {
  &:before {
    content: "\e9ad";
    color: #b2b2b2;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 8px;
  }
  &:hover:before {
    color: #c0392b;
  }
}

.icon-cross {
  &:before {
    content: "\ea0f";
    color: #b2b2b2;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 8px;
  }
  &:hover:before {
    color: #555555;
  }
}

.icon-checkbox-checked {
  &:before {
    content: "\ea52";
    color: #b2b2b2;
    transition: all 0.3s;
    font-size: 16px;
    padding: 0 8px;
  }
  &:hover:before {
    color: #8e44ad;
  }
}
