.App {
  text-align: center;
  border-bottom: 1px solid #eee;
  .App-header {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    color: white;
    .link {
      color: #282c34;
      text-decoration: none;
      margin: 12px 18px;
    }
  }
}

.table-section {
  margin: 32px 16px;
}

.dx-treelist-toolbar-button {
  border-color: #2ecc71 !important;
  .dx-button-content i {
    color: #2ecc71 !important;
  }
}
